# ── Python ────────────────────────────────────────────────────
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.spec

# ── Entornos virtuales ─────────────────────────────────────────
.venv/
venv/
env/
ENV/

# ── PyInstaller / builds ───────────────────────────────────────
build/
dist/
installer_output/
Peru Compras Bot/

# ── Reportes y logs generados en ejecución ────────────────────
reporte_*.csv
reporte_*.xlsx
bot.log
debug_output.txt

# ── Archivos temporales del sistema ───────────────────────────
tmpclaude-*
Thumbs.db
desktop.ini
.DS_Store

# ── VS Code ───────────────────────────────────────────────────
.vscode/
*.xlsx
wsp_server.json
GUIA_NOTIFICACIONES_WSP.MD
PeruComprasBot_Setup_1_4_1.exe
# Archivo .exe ignorado por que GitHub no permite subir archivos binarios grandes, y el instalador se genera automáticamente en cada release. Si se necesita compartir el .exe.